<div class="example-container mat-elevation-z8">
    <div *ngIf="isLoadingResults" class="example-loading-shade">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a [routerLink]="['/product-add']" color="primary" mat-flat-button>
            <mat-icon>add</mat-icon>
        </a>
    </div>
    <div class="mat-elevation-z8">
        <table
            [dataSource]="data" class="example-table" mat-table matsort matsortactive="prod_name" matsortdirection="asc" matsortdisableclear>

            <!-- Product Name Column -->
            <ng-container matcolumndef="prod_name">
                <th *matheadercelldef mat-header-cell>Product Name</th>
                <td *matcelldef="let row" mat-cell>{{row.prod_name}}</td>
            </ng-container>

            <!-- Product Price Column -->
            <ng-container matcolumndef="prod_price">
                <th mat-header-cell matheadercelldef>Product Price</th>
                <td mat-cell matcelldef="let row">$
                    {{row.prod_price}}</td>
            </ng-container>
            <tr mat-header-row matheaderrowdef="displayedColumns"></tr>
            <tr [routerLink]="['/product-details', row.id]" mat-row matrowdef="let row; columns: displayedColumns;"></tr>
        </table>
    </div>
</div>
