<div class="example-container mat-elevation-z8">
    <div *ngIf="isLoadingResults" class="example-loading-shade">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>
    </div>
    <div class="button-row">
        <a [routerLink]="['/products']" color="primary" mat-flat-button>
            <mat-icon>list</mat-icon>
        </a>
    </div>
    <mat-card class="example-card">
        <form (ngSubmit)="onFormSubmit(productForm.value)" [formGroup]="productForm">
            <mat-form-field class="example-full-width">
                <input [errorStateMatcher]="matcher" formcontrolname="prod_name" matinput placeholder="Product Name">
                <mat-error>
                    <span *ngIf="!productForm.get('prod_name').valid && productForm.get('prod_name').touched">Please enter Product Name</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input [errorStateMatcher]="matcher" formcontrolname="prod_desc" matinput placeholder="Product Desc">
                <mat-error>
                    <span *ngIf="!productForm.get('prod_desc').valid && productForm.get('prod_desc').touched">Please enter Product Description</span>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input [errorStateMatcher]="matcher" formcontrolname="prod_price" matinput placeholder="Product Price">
                <mat-error>
                    <span *ngIf="!productForm.get('prod_price').valid && productForm.get('prod_price').touched">Please enter Product Price</span>
                </mat-error>
            </mat-form-field>
            <div class="button-row">
                <button [disabled]="!productForm.valid" color="primary" mat-flat-button type="submit">
                    <mat-icon>save</mat-icon>
                </button>
            </div>
        </form>
    </mat-card>
</div>
